:root {
    --main-color: white;
    --title-color: black;
    --text-color: rgba(21, 21, 21, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background-color: white;
    z-index: 10;
}


.container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .nav-list {
        display: none;
    }
}

.header-buttons {
    display: flex;
    margin-left: 95px;
    align-items: center;
}

@media screen and (max-width:700) {
    .header-buttons {
        display: none;
    }
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #181818;
}

.reg-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151515;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.login-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #656293;
    border-radius: 5px;
    padding: 5px 22px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.login-button:hover {
    color: #33314a;
}

.hero {
    background-image: url("../img/hero-backround.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 104px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    text-transform: capitalize;
    color: #151515;
    margin-bottom: 48px
}

h1 span {
    color: #656293;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding-right: 26px;
    position: relative;
    width: fit-content;
}

.hero-link::after {
    content: "";
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.hero-link:hover:after {
    transform: translate(5px, -50%);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: var(--title-color);
    text-align: center;
    position: relative;
    margin-bottom: 64px;
}

h2:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgba(21, 21, 21, 0.1);
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.business-top .container,
.business-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.business-top img {
    max-width: 576px;
}

.business-bottom img {
    max-width: 612px;
    order: 2;
}

.business-top,
.business-bottom {
    padding: 65px 0;
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #151515;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

section {
    padding-bottom: 115px;
}

.business-top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 405px;
    display: block;
    background: #E5F4F6;
    border-radius: 0px 50px 50px 0px;
    z-index: -1;
}

.business-bottom::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 405px;
    display: block;
    background: #E5F4F6;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 370px;
    row-gap: 30px;
    position: relative;
}

.services-item {
    width: calc((100% - 370px) / 2);
    padding: 40px 52px 51px 52px;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    text-align: center;
}

.services-image {
    max-width: 297px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-item img {
    margin: 0 auto 13px auto;
}

.services-item h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    margin-bottom: 13px;
}

.planes-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.planes-item {
    width: calc((100% - 90px)/4);
    background: var(--main-color);
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    padding: 10px;
}

.imgwrapper {
    margin-bottom: 14px;
    border-radius: 12px;
    overflow: hidden;
}

.planes-img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.planes-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
}

.planes-background {
    position: absolute;
    top: 208px;
    right: -64px;
    z-index: -1;
}

.planes {
    position: relative;
    overflow: hidden;
}

.membership-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.membership-item {
    width: calc((100% -48px) / 3);
    padding: 24px;
    background-color: #F5F5F5;
}

.membership-item:nth-child(2) {
    background-color: #656293;
    transform: translateY(-30px);
}

.membership-item:nth-child(2) button {
    background-color: white;
    color: #151515;
}

.membership-item:nth-child(2) h3 {
    color: white;
}

.membership-item:nth-child(2) .advantages-item {
    color: white;
}

.membership-item:nth-child(2) .prize {
    color: white;
}

.membership-item:first-child {
    border-radius: 20px 0px 0px 20px;
}

.membership-item:last-child {
    border-radius: 0px 20px 20px 0px;
}

.membership-item h3 {
    font-weight: 700;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
}

.membership-advantages {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 24px;
    color: #A9A9AA;
}

.advantages-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding-left: 30px;
    position: relative;
    list-style: none;
}

.advantages-item:not(:last-child) {
    margin-bottom: 16px;
}

.advantages-item::before {
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.advantages-item.tick::before {
    background-image: url(../img/black-tick.svg);
}

.advantages-item.cross::before {
    background-image: url(../img/black-cross.svg);
}

.membership-item:nth-child(2) .advantages-item.tick:before {
    background-image: url(../img/white-tick.svg);
}

.membership-item:nth-child(2) .advantages-item.cross:before {
    background-image: url(../img/white-cross.svg);

}


.advantages-list {
    padding-bottom: 20px;
    border-bottom: 1px dashed #A9A9AA;
}

.prize {
    padding-top: 70px;
    color: #161616;
}

.number {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.advantages-button {
    background: #656293;
    padding: 12px 16px;
    width: 100%;
    border-radius: 12px;
    font-weight: 600;
    color: white;
    margin-top: 24px;
    border: 0;
    font-size: 22px;
}

.footer-image {
    margin: 0 auto;
}

.footer-bottom {
    background: #656293;
}

.footer-logo {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.footer-logo a {
    display: block;
    height: fit-content;
}

.footer-info {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    padding-top: 17px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info nav {
    flex: 1;
}

.footer-navigation {
    display: flex;
    gap: 30px;
    list-style: none;
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}

.copyright {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}