* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
}

.container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;

}

.header-buttons {
    display: flex;
    margin-left: 95px;
    align-items: center;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #181818;
}

.reg-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151515;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.login-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #656293;
    border-radius: 5px;
    padding: 5px 22px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.login-button:hover {
    color: #33314a;
}

.hero {
    background-image: url("../img/hero-backround.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 104px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    text-transform: capitalize;
    color: #151515;
    margin-bottom: 48px
}

h1 span {
    color: #656293;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding-right: 26px;
    position: relative;
    width: fit-content;
}

.hero-link::after {
    content: "";
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.hero-link:hover:after {
    transform: translate(5px, -50%);
}